* {
	box-sizing: border-box;
}

body {
	font-family: "Quicksand", sans-serif;
	font-size: 1.4rem;
	color: #333;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
	min-height: 100vh;
    background-image:url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}


p{
    font-family: "Quicksand", sans-serif;
}
.container {
    width: 80%; 
    margin: 0 auto;  
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

li {
    background-color: #eee5e5;
    border: 1px solid #e1dede;
    border-radius: 8px;
    box-shadow: rgba(4, 4, 4, 0.1) 0px 10px 50px;
    margin : 20px;
    text-align: center;
  }